/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* LoginView.css */
.login-body-container {
    margin: 0;
    padding: 0;
    height: 100vh;  /* Ensure body takes full viewport height */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  /* Use flexbox to center .login-container */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  /* Center vertically */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;  /* Center horizontally */
    background-image: url('../../images/login_background.jpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20vw;
    height: 30vh;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.login-container input {
    padding: 10px;
    font-size: 16px;
}

.login-container button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
}

.login-container button:hover {
    background-color: #0056b3;
}

.spinner {
    display: block;
    margin: 20px auto;
    width: 20px;
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 20px;
}