/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.full-page-home {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.main-content-home {
    margin-top: 80px; /* Adjusted for navbar height */
}

.search-bar {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.search-bar input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}