.full-page {
    width: 100%;
    height: 100vh;
    position: relative;
}

.title {
    padding: 30px;
    font-size: 50px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: whitesmoke;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: right;
    position: relative;
    padding-left: 85%;
}

.login-button {
    border: 1px solid #28a745;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.signup-button {
    border: 1px solid #28a745   ;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.main-content {
    margin-top: 60px;
}

.image-container {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

.search-bar {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}
