/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.full-page-home {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url('../../images/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.navbar-home {
    position: fixed;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;  /* Reduced horizontal padding */
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 1000;
}

.nav-left-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav-left-home .hamburger-button {
    font-size: 30px !important;
}

.hamburger-button-home {
    background: none;
    border: none;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.nav-title-home {
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
}

.nav-buttons-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.main-content-home {
    margin-top: 80px; /* Adjusted for navbar height */
}

.search-bar {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.search-bar input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}