/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* SignUpView.css */
.signup-body-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url('../../images/login_background.jpg');
    background-size: cover;
    background-position: center;
}

.signup-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20vw;
    height: 50vh;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.signup-container input {
    padding: 10px;
    font-size: 16px;
}

.signup-container button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
}

.spinner {
    display: block;
    margin: 20px auto;
    width: 50px;
}

.success-message {
    margin-top: 20px;
    font-size: 16px;
    color: green;
}