.search-bar {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.search-bar input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}